.home-loader {
    display: grid;
    justify-items: center;
    align-content: center;
    min-height: 100vh;

    .logo-header-container {
        margin-bottom: 30px;
    }

    .lds-spinner {
        color: official;
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }

    .lds-spinner div {
        transform-origin: 40px 40px;
        animation: lds-spinner 1.2s linear infinite;
    }

    .lds-spinner div:after {
        content: " ";
        display: block;
        position: absolute;
        top: 3px;
        left: 37px;
        width: 6px;
        height: 18px;
        border-radius: 20%;
        background: #FF6060;
    }

    .lds-spinner div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -1.1s;
    }

    .lds-spinner div:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -1s;
    }

    .lds-spinner div:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.9s;
    }

    .lds-spinner div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.8s;
    }

    .lds-spinner div:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.7s;
    }

    .lds-spinner div:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.6s;
    }

    .lds-spinner div:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.5s;
    }

    .lds-spinner div:nth-child(8) {
        transform: rotate(210deg);
        animation-delay: -0.4s;
    }

    .lds-spinner div:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.3s;
    }

    .lds-spinner div:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.2s;
    }

    .lds-spinner div:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.1s;
    }

    .lds-spinner div:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
    }

    @keyframes lds-spinner {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
}

.skeleton-loader {

    padding: 40px 117px 10px 100px;
    animation: fade 3s;

    @media screen and (max-width:426px) {
        padding: 20px;
    }

    @media screen and (min-width:426px) and (max-width:1024px) {
        padding: 40px 80px 10px 80px;
    }

    .header-loader {
        display: flex;
        justify-content: space-between;
        height: 68px;
        margin-bottom: 20px;

        .logo-loader {
            position: relative;
            width: 210px;

            @media screen and (max-width:426px) {
                width: 100px;
            }
        }

        .nav-loader {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 55px;
            width: 309px;

            @media screen and (max-width:426px) {
                width: 130px;
                gap: 15px;
            }

            .nav-item-loader {
                position: relative;
                width: 50%;
                height: 25px;
            }
        }
    }

    .carousel-loader {
        position: relative;
        height: 415px;

        @media screen and (max-width:426px) {
            height: 255px;
        }
    }

    .detailed-dwelling-loader {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: start;
        align-items: center;
        margin-top: 30px;

        @media screen and (max-width:426px) {
            grid-template-columns: none;
            grid-template-rows: none;
            grid-template-areas: "dwelling-infos dwelling-infos"
                "tag tag"
                "star host";
        }

        .dwelling-infos-loader {

            @media screen and (max-width:426px) {
                grid-area: dwelling-infos;
                margin-bottom: 10px;
            }

            .dwelling-title-loader {
                position: relative;
                width: 500px;
                height: 50px;
                margin-bottom: 10px;

                @media screen and (max-width:426px) {
                    width: 200px;
                }

                @media screen and (min-width:426px) and (max-width:1024px) {
                    width: 250px;
                }
            }

            .dwelling-location-loader {
                position: relative;
                width: 150px;
                height: 25px;
            }
        }

        .host-infos-loader {
            display: flex;
            align-items: center;
            justify-self: end;
            gap: 10px;

            @media screen and (max-width:426px) {
                grid-area: host;
            }

            .host-name {
                position: relative;
                width: 90px;
                height: 50px;
            }

            .host-picture {
                position: relative;
                width: 65px;
                height: 65px;
                border-radius: 50%;
            }
        }

        .tags-loader {
            display: flex;
            gap: 10px;

            @media screen and (max-width:426px) {
                grid-area: tag;
                margin-bottom: 15px;
            }

            .tag-loader {
                position: relative;
                width: 100px;
                height: 25px;
            }
        }

        .stars-loader {
            display: flex;
            gap: 15px;
            justify-self: end;

            @media screen and (max-width:426px) {
                grid-area: star;
                gap: 5px;
                justify-self: start;
            }

            .star-loader {
                position: relative;
                height: 15px;
                width: 15px;
            }
        }
    }

    .animate::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, hsl(210, 15%, 88%), hsl(210, 15%, 95%), hsl(210, 15%, 88%));
        background-size: 200%;
        animation: skeleton-loading 1s infinite reverse;
        border-radius: 10px;
    }
}

@keyframes skeleton-loading {
    from {
        background-position: -100% 0;
    }

    to {
        background-position: 100% 0;
    }
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.4;
    }
}